.button {
    color: white;
    background-color: rgb(18, 17, 31);    
	border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #333;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(45, 43, 78);
}

.button:active{
    translate: 3px 3px;
    box-shadow: none;
}